body {
    /*Variables*/
    --color-bg: #dddddd;
    --color-texto: #161211;

}

body.dark-theme {
    --color-bg: rgb(47, 47, 47);
    --color-texto: #ffb847;
}

.contenedor {
    display: grid;
    place-items: center;
}

button {
    padding: 10px 50px;
    background: transparent;
    border: 1px solid var(--color-texto);
    color: var(--color-texto);
    cursor: pointer;
}

body.dark-theme {
    --color-bg: rgb(47, 47, 47);
    --color-texto: #ffb847;
}

/*Esta media nos sirve para saber el tema que el usuario tiene en su equipo de windows 10 y asi el sitio se pondra del color del mismo */
@media (prefers-color-scheme: dark) {
    body {
        --color-bg: rgb(47, 47, 47);
        --color-texto: #ffb847;
    }

    button {
        border: 1px solid var(--color-texto);
        color: var(--color-texto);
    }

    body.light-theme {
        --color-bg: #dddddd;
        --color-texto: #161211;
    }
}

body {
    background-color: var(--color-bg);
    transition: background .8s ease-out;
}

h1 {
    color: var(--color-texto);
}